@import url(var.css);

:root {

    /* bg */
    --bg-c: var(--bg-c-1);

    /* text */
    --h1-c: var(--txt-c-1);
    --h2-c: var(--txt-c-1);
    --h3-c: var(--txt-c-1);
    --b1-c: var(--txt-c-1);
    --h1-bg-c: transparent;
    --h2-bg-c: transparent;
    --h3-bg-c: transparent;
    --b1-bg-c: var(--bg-c-1);

    /* container */
    --container-bg-c: var(--container-bg-c-1);
    --container-border-c: var(--container-border-c-1);
    --container-bs-c: var(--container-bs-c-1);
}

body {  
    background:
    linear-gradient(90deg, var(--bg-c-1) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--bg-c-1) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-c-1);
}