@import url(var.css);

:root {

    /* bg */
    --bg-c: var(--bg-c-2);

    /* text */
    --h1-c: var(--txt-c-2);
    --h2-c: var(--txt-c-2);
    --h3-c: var(--txt-c-2);
    --b1-c: var(--txt-c-2);
    --h1-bg-c: transparent;
    --h2-bg-c: transparent;
    --h3-bg-c: transparent;
    --b1-bg-c: transparent;

    /* container */
    --container-bg-c: var(--container-bg-c-2);
    --container-border-c: var(--container-border-c-2);
    --container-bs-c: var(--container-bs-c-2);
}






#Noise_bg-1:after {
    animation: grain 15s steps(10) infinite;
    background-image: url(../../assets/images/bg/bg_noise.png);
    content: "";
    height: 300%;   
    left: -50%;
    opacity: .6;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}